@use "@wordpress/base-styles/variables" as *;

.background-block-support-panel {
	.block-editor-contrast-checker {
		grid-column: span 2;
		margin-top: $grid-unit-20;
	}

	/* Increased specificity required to remove the slot wrapper's row gap */
	&#{&} {
		.background-block-support-panel__inner-wrapper {
			row-gap: 0;
		}
	}
}
